.slick-track {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh !important;
  background-color: #f7edd4;
}

.my-slide {
  height: 100% !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
}
